In [2]:
#conventional if_else
n = 7
if n%2 == 0:
    print("even")
else:
    print("odd")

odd

In [3]:
print("even") if n%2 == 0 else print("odd")

odd

In [34]:
# nested if_else
r = "positive" if n>0 else("negative" if n<0 else "zero")
print(r)

positive

In [13]:
# nested if_else in one line
print("positive")if n>0 else("negative" if n<0 else "zero")

positive

In [15]:
if n>0:
    print("positive")
else:
    if n<0:
          print("negative")
    else:
          print("0")

positive

In [16]:
l = [1, 5, 7, 4, 8]
for x in l:
    print(2*x)

2
10
14
8
16

In [18]:
[2*x for x in l]

[2, 10, 14, 8, 16]

In [19]:
# list comprehension with conditional
[x for x in l if x%2 == 0]

[4, 8]

In [23]:
for x in l:
    if x%2 == 0:
        print(x)

4
8

In [24]:
[x for x in l if x%2 != 0]

[1, 5, 7]

In [28]:
# average value of list comprehension
sum([x for x in l])/len(l)

5.0

In [31]:
# dictionary comprehension
d = {"jk":[46, 45, 47, 48], "tae":[49, 48, 50, 46]}
d

{'jk': [46, 45, 47, 48], 'tae': [49, 48, 50, 46]}

In [32]:
#average
{k:sum(v)/len(v) for k,v in d.items()}

{'jk': 46.5, 'tae': 48.25}

In [33]:
#sum
{k:sum(v) for k,v in d.items()}

{'jk': 186, 'tae': 193}