In [18]:
l = [100,53,200,79,20,89,1007]
odd = []
even = []
for x in l:
    if x%2 == 0:
        even.append(x)
    else:
        odd.append(x)
print(even)
print(odd)

[100, 200, 20]
[53, 79, 89, 1007]

In [ ]:
l = [100,53,200,79,20,89,1007]

In [15]:
even = []
for x in l:
    if x%2 == 0:
        even.append(x)
print(even)

[100, 200, 20]

In [16]:
odd = []
for y in l:
    if y%2 != 0:
        odd.append(y)
print(odd)

[53, 79, 89, 1007]

In [1]:
orders = [['apple' , 10], ['banana' , 5], ['cherry', 7], ['dragon', 10], ['grape', 9], ['apple', 20]]
for each in orders:
    if each[0] == "cherry":
        each[1] = 10
print(orders)

[['apple', 10], ['banana', 5], ['cherry', 10], ['dragon', 10], ['grape', 9]]

In [20]:
I = [['orange', 20], ['mango', 12], ['kiwi', 15]]
for iu in I:
    if iu[0] == "kiwi":
        iu[1] = 50
print(I)

[['orange', 25], ['mango', 25], ['kiwi', 50]]

In [25]:
orders = [['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grape', 9], ['apple', 20]]
orders.append(['apple', 30])
print(orders)
total = []
for each in orders:
    if each[0] == "apple":
        total.append(each[1])
print(total)
print(sum(total))

[['apple', 10], ['banana', 5], ['cherry', 7], ['dragon', 10], ['grape', 9], ['apple', 20], ['apple', 30]]
[10, 20, 30]
60

In [14]:
#TUPLES
t1 = (3, 2, 7, "V", True ,"purple", "JK","TK")
print(t1)
print (type(t1))

(3, 2, 7, 'V', True, 'purple', 'JK', 'TK')
<class 'tuple'>

In [17]:
print(t1[3:7])

('V', True, 'purple', 'JK')

In [18]:
print(t1[5:])

('purple', 'JK', 'TK')

In [20]:
t1[3:]

('V', True, 'purple', 'JK', 'TK')

In [21]:
t1.index("TK")

7

In [23]:
t2 = (7, 3, 7, 5, 6, 7, 10)
t2.count(7)

3

In [1]:
#DICTIONARIES
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [8]:
scores = {"virat": 90,
          "Rohit": 100,
          "Rahul": 70,
          "Hardik": 49,
          "Gill" : 89,
          "Jadeja": 45,
          "kishan": 48,
}

In [9]:
scores["aswin"] = 47
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 49,
 'Gill': 89,
 'Jadeja': 45,
 'kishan': 48,
 'aswin': 47}

In [10]:
scores.update({"Jadeja":50})
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 49,
 'Gill': 89,
 'Jadeja': 50,
 'kishan': 48,
 'aswin': 47}

In [14]:
scores.update({"Hardik": 58, 'Siraj': 54})
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 58,
 'Gill': 89,
 'Jadeja': 50,
 'kishan': 48,
 'aswin': 47,
 'Siraj': 54}

In [16]:
scores.setdefault("Gill", 60)
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 58,
 'Gill': 89,
 'Jadeja': 50,
 'kishan': 48,
 'aswin': 47,
 'Siraj': 54}

In [17]:
scores.setdefault("Rahane", 50)
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 58,
 'Gill': 89,
 'Jadeja': 50,
 'kishan': 48,
 'aswin': 47,
 'Siraj': 54,
 'Rahane': 50}

In [18]:
scores.pop("Rahane",50)
scores

{'virat': 90,
 'Rohit': 100,
 'Rahul': 70,
 'Hardik': 58,
 'Gill': 89,
 'Jadeja': 50,
 'kishan': 48,
 'aswin': 47,
 'Siraj': 54}

In [19]:
scores.get("Gill")

89

In [25]:
# use of fromkeys() to create a new dict
l1 = ["A","B","c","D"]
b = dict.fromkeys(l1,7)
b

{'A': 7, 'B': 7, 'c': 7, 'D': 7}

In [ ]:
scores.keys()
scores.values()

In [31]:
for k in scores.keys():
    if k == "Hardik":
        scores(k) = 60
scores

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (922841042.py, line 3)

In [30]:
scores_l = []
for v in scores.values():
    scores_l.append(v)
print(scores_l)
print("Total Score: ", sum(scores_l))

[90, 100, 70, 58, 89, 50, 48, 47, 54]
Total Score:  606