Assumptions in Multilinear Regression

1. linearity: The realtionship between the predictors and the response is linear
2. Independence: Obseravtions are independent of eachother
3. Homoscedasticty: The residuals(Y - Y_hat) exhibit constant variance at all levels of predictors
4. Nomal Distribution of Errors: The residuals of the model are normally distributed
5. No Multicollonearity: The independent variables should not be too highly correlated with each other

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [3]:
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [4]:
cars = pd.DataFrame(cars, columns=["Hp","VOL","SP","WT","MPG"])
cars.head()

   Hp  VOL          SP         WT        MPG
0 NaN   89  104.185353  28.762059  53.700681
1 NaN   92  105.461264  30.466833  50.013401
2 NaN   92  105.461264  30.193597  50.013401
3 NaN   92  113.461264  30.632114  45.696322
4 NaN   92  104.461264  29.889149  50.504232

### Descrption of columns
 - MPG : Milege of the car(Mile Per Gram)(This is Y-column to be predicted)
 - HP : Horse Power of the car(X1 column)
 - VOL : Volume pf the car(size)(x2 column)
 - SP : Top speed of the car(Miles per Hour)(x3 column)
 - WP : Weight of the car(Pounds)(x4 column)

## EDA

In [5]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hp      0 non-null      float64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 3.3 KB

In [6]:
cars.isna().sum()

Hp     81
VOL     0
SP      0
WT      0
MPG     0
dtype: int64

### Observations
 - There are no missing values
 - There are 81 observations(81 different cars data)
 - The data types of the columns are also relevent and valid